@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}
body {
    background-color: silver;
    margin: 0;
    padding: 0;
}
nav {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    padding: 10px 10px 10px 0px;
    background-color: rgb(128, 128, 128);
}
#name {
    font-size: 5vw;
}
ul li {
    display: inline-block;
    padding: 0px 20px;
}
a {
    color: white;
    text-decoration: none;
}
.title-container {
    text-align: center;
    font-size: 5vw;
}
h1 {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    color: rgb(37, 37, 37);
}
h2 {
    text-align: center;
}
.game-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}
.game-container > button {
    font-size: 8vw;
    border: 2px solid silver;
    outline: none;
    background-color: white;
    line-height: 1em;
}
.game-container > button:hover {
    background-color: rgb(170, 255, 0);
    transform: scale(1.05);
    color: white;
}
.reset-button {
    border: none;
    color: rgb(128, 128, 128);
}
.reset-button:hover {
    border: none;
    background-color: rgb(37, 37, 37);
    color: white;
}
