*, *::before, *::after {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    background-color: silver;
}
.game-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}
.game-container > button {
    font-size: 8vw;
    border: 1px solid silver;
    outline: none;
    background-color: white;
}
